<!DOCTYPE html>
<!--[if IE 8]><html class="lt-ie10 lt-ie9 no-js" prefix="og: http://ogp.me/ns#" lang="es"><![endif]--><!--[if IE 9]><html class="lt-ie10 no-js" prefix="og: http://ogp.me/ns#" lang="es"><![endif]--><!--[if gt IE 9]><!--><html class="no-js" prefix="og: http://ogp.me/ns#" lang="es"><!--<![endif]--><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta name="msapplication-tap-highlight" content="no"><link href="http://static-cdn4-w2.webnode.com/files/41/41l/41l0ve.css?ph=0bd966b031" rel="stylesheet"><meta name="description" content=""><meta name="keywords" content=""><meta name="generator" content="Webnode 2"><meta name="apple-mobile-web-app-capable" content="yes"><meta name="apple-mobile-web-app-status-bar-style" content="black"><meta name="format-detection" content="telephone=no">

<link rel="canonical" href="http://anonibook.webnode.cl/"><script>var checkAndChangeSvgColor=function(c){try{var b=document.getElementById(c);if(b){var a=window.getComputedStyle(b).color.replace(/\s/g,""),e=a.match(/^rgb[a]?\(([0-9]{1,3}),([0-9]{1,3}),([0-9]{1,3})/i);if(e){a="";for(c=1;3>=c;c++)a+=("0"+parseInt(e[c],10).toString(16)).slice(-2);if(!b.src){if("0"===a.charAt(0))var d=parseInt(a.substr(0,2),16),d=Math.max(16,d),a=d.toString(16)+a.slice(-4);var f=b.getAttribute("data-src");b.src=f+(0>f.indexOf("?")?"?":"&")+"color="+a;b.removeAttribute("data-src");var g=b.parentNode;g.innerHTML=g.innerHTML}}}}catch(h){}};</script>
			<!-- Begin TypeKit Embed Code -->
<script src="//use.typekit.net/oma5gve.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<!-- End TypeKit Embed Code -->
<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-797705-6', 'auto',{"name":"wnd_header"});ga('wnd_header.set', 'dimension1', 'W2');ga('wnd_header.set', 'anonymizeIp', true);ga('wnd_header.send', 'pageview');</script></head><body class="layout-02  wtf-homepage color-none">

	<div class="wnd-page">

		<div id="wrapper">

			<header id="header"><div id="layout-section" class="section header header-01 claim-section cf design-03 wsection-media">
					<div class="section-inner">
						</nav>
				</div>

			</header><main id="main" role="main">

				<div class="section-wrapper cf">
	<div class="section-wrapper-content cf">

<form accept-charset="UTF-8" action="/messages" method="post" class="nifty_form">
  
<section class="section default-01 design-01 wsection-white"><div class="section-bg">
		<div class="section-bg-layer">
			
		</div>
		<div class="section-bg-layer section-bg-overlay"></div>
	</div>
	<div class="section-inner">
		<div class="content cf wnd-no-cols">
	<div>
		<div class="form block pr cf">
	<form action="" method="post">

		<fieldset class="form-fieldset">
<div><div class="form-input form-text cf wnd-form-field wnd-required">
	<label for="field-wnd_ShortTextField_84212"><span class="inline-text">
	<span><span>Titulo</span></span>
</span>
		
		</label>
	<input id="field-wnd_ShortTextField_84212" name="message[title]" required value="<%= @messages.title %>" type="text" maxlength="150">
</div>
		<% @messages.errors[:title].each do |mensaje| %>
			<div class="red">
				&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;*<%= mensaje %>
			</div>
		<%end%>
<div class="form-input form-text cf wnd-form-field wnd-required">
	<label for="field-wnd_ShortTextField_1517"><span class="inline-text">
	<span><span>Número de teléfono</span></span>
</span></label>
	<input id="field-wnd_ShortTextField_1517" name="message[number]" required value="<%= @messages.number %>" type="text" maxlength="150">
</div>
		<% @messages.errors[:number].each do |mensaje| %>
			<div class="red">
				&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;*<%= mensaje %>
			</div>
		<%end%><div class="form-input form-textarea cf wnd-form-field wnd-required">
	<label for="field-wnd_LongTextField_55414"><span class="inline-text">
	<span>Mensaje</span>
</span></label>
	<textarea rows="5" id="field-wnd_LongTextField_55414" name="message[body]" value="<%= @messages.body %>" required></textarea>
</div>
		<% @messages.errors[:body].each do |mensaje| %>
			<div class="red">
				&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;*<%= mensaje %>
			</div>
		<%end%></div>
		</fieldset>

		<div class="form-submit cf button-01">
			<button type="submit" name="commit" value="Create">
				<span class="text">Postear</span>
			</button>
		</div>

	</form>

	
</div>
	</div>
	
</div>
	</div>
</section>

</form></div>
</div>

</main>

	
<script type="text/javascript" src="http://static-cdn3-w2.webnode.com/files/11/11f/11fa5q.js?ph=0bd966b031"></script><script src="http://static-cdn2-w2.webnode.com/client.fe/js.compiled/compiled.es.1-74.js?ph=0bd966b031" crossorigin="anonymous"></script><script>var wnd = wnd || {};wnd.$data = {"image_content_items":{"wnd_HeaderSection_header_1_43754":{"id":"wnd_HeaderSection_header_1_43754","type":"wnd.pc.HeaderSection"},"wnd_Section_text_image_34154":{"id":"wnd_Section_text_image_34154","type":"wnd.pc.Section"},"wnd_ImageBlock_33561":{"id":"wnd_ImageBlock_33561","type":"wnd.pc.ImageBlock"},"wnd_LogoBlock_55914":{"id":"wnd_LogoBlock_55914","type":"wnd.pc.LogoBlock"},"wnd_FooterSection_footer_67075":{"id":"wnd_FooterSection_footer_67075","type":"wnd.pc.FooterSection"}},"svg_content_items":{"wnd_ImageBlock_33561":{"id":"wnd_ImageBlock_33561","type":"wnd.pc.ImageBlock"},"wnd_LogoBlock_55914":{"id":"wnd_LogoBlock_55914","type":"wnd.pc.LogoBlock"}},"project_info":{"isMultilanguage":false}};</script><script>wnd.$system = {"filesPath":"http:\/\/files.anonibook.webnode.cl\/","staticFiles":"http:\/\/static-cdn1-w2.webnode.com\/files","isCms":false,"staticCDNServers":["http:\/\/static-cdn3-w2.webnode.com\/","http:\/\/static-cdn1-w2.webnode.com\/","http:\/\/static-cdn2-w2.webnode.com\/","http:\/\/static-cdn4-w2.webnode.com\/"],"fileUploadAllowExtension":["jpg","jpeg","png","gif","bmp","ico","svg","webp","tiff","pdf","doc","docx","ppt","pptx","pps","ppsx","odt","xls","xlsx","txt","rtf","mp3","wma","wav","ogg","amr","flac","m4a","3gp","avi","wmv","mov","mpg","mkv","mp4","mpeg","m4v","swf","gpx","stl"],"maxUserFormFileLimit":2097152,"labels":{"wnd.fe.CookieBar.message":"Esta p\u00e1gina web utiliza Cookies para funcionar correctamente y mejorar tu experiencia de uso. Si continuas navegando por la web, estar\u00e1s aceptando nuestra pol\u00edtica de privacidad.","wnd.fe.FeFooter.createWebsite":"\u00a1Crea tu p\u00e1gina web gratis!","wnd.fe.FormManager.error.file.notAllowedExtension":"La extensi\u00f3n \"{EXTENSION}\" no est\u00e1 permitida.","wnd.fe.FormManager.error.file.required":"Por favor, elige el archivo que deseas subir.","wnd.fe.FormManager.error.file.sizeExceeded":"El tama\u00f1o m\u00e1ximo permitido para el archivo subido es de {SIZE} MB.","wnd.pc.BlogDetailPageZone.next":"Art\u00edculos recientes","wnd.pc.BlogDetailPageZone.previous":"Art\u00edculos antiguos","wnd.pc.FileBlock.download":"DESCARGAR","wnd.pc.FormBlock.action.defaultMessage.text":"El formulario se ha enviado con \u00e9xito.","wnd.pc.FormBlock.action.defaultMessage.title":"\u00a1Muchas gracias!","wnd.pc.ListingDetailPageZone.next":"Siguiente","wnd.pc.ListingDetailPageZone.previous":"Anterior","wnd.pc.Option.defaultText":"Otra opci\u00f3n m\u00e1s","wnd.pc.SystemFooterBlock.poweredByWebnode":"Creado con {START_LINK}Webnode{END_LINK}","wnd.templates.chooseFile":"Elegir archivo","wnd.templates.langTitle":"Idiomas","wnd.templates.load":"Load","wnd.templates.menu":"Men\u00fa","wnd.templates.more":"M\u00e1s","wnd.templates.next":"Siguiente","wnd.templates.photogalleryWithoutRecords":"No se encontraron im\u00e1genes en esta fotogaler\u00eda","wnd.templates.prev":"Anterior","wnd.templates.readMore":"Leer m\u00e1s"}};</script></body>
</html>